<div class="w-100 pt-4 mobile">
  <div align="center">
    <div class="">
      <button mat-fab class="clicker" color="primary" (click)="click()">CLICK ME!</button>
    </div>
  </div>
  <div class="text-center mt-3 extra-padding">
    <div class="background little-padding rounded">
      <mat-form-field>
        <mat-label>Username: {{username}}</mat-label>
        <input #userInput matInput (change)="changeUsername(userInput.value)">
      </mat-form-field>

      <div *ngIf="player" class="mb-2">
        <div class="row">
          <div class="col"><img src="../../assets/bronze.svg" /></div>
          <div class="col"><img src="../../assets/silver.svg" /></div>
          <div class="col"><img src="../../assets/gold.svg" /></div>
        </div>
        <div class="row">
          <div class="col">
            <p *ngIf="player.bronze; else noBronze"> {{player.bronze}}</p>
            <ng-template #noBronze>
              <p>0</p>
            </ng-template>
          </div>
          <div class="col">
            <p *ngIf="player.silver; else noSilver">{{player.silver}}</p>
            <ng-template #noSilver>
              <p>0</p>
            </ng-template>
          </div>
          <div class="col">
            <p *ngIf="player.gold; noGold">{{player.gold}}</p>
            <ng-template #noGold>
              <p>0</p>
            </ng-template>
          </div>
        </div>
      </div>

      <div>
        <button mat-raised-button color="primary" routerLinkActive="active" routerLink="/scores/">Scores</button>
      </div>
    </div>
  </div>
</div>
