<h1 mat-dialog-title class="goal-title" align="center">Congratulations!</h1>
<div mat-dialog-content align="center">
  <p class="hit-text">You hit {{goal}}!</p>
  <img src="../../assets/{{goal}}.svg" class="goal-image mx-auto" />
  <p *ngIf="next">Next goal is <b class="primary-text">{{next.next}}</b> which needs <b class="primary-text">{{next.amount}}</b> more clicks!</p>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
</div>
